# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Environments & secrets
*.env

# OS cruft
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Build outputs
build/
dist/

# Editors
.vscode/
.idea/
